@{
    ViewBag.Title = "Index";
}

<h4>Add Users via Excel</h4>
<hr />
@using (Html.BeginForm("UploadExcel", "User", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return myFunction()" }))
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="control-label col-md-2">Download Format:</div>
            <div class="col-md-10">
                <a href="/User/DownloadExcel/"><img src="~/excel.ico" width="25" height="25" title="Download Excel format" alt="excel" /></a>
            </div>
        </div>

        @if (ViewBag.i == "IndexPage")
        {

        }
        else
        {        
            if (ViewBag.Message == "formaterror")
            {
                <span class="portlet-msg-error">
                    Only Excel file format is allowed
                </span>
            }
            else if (ViewBag.Message == "empty")
            {
                <span class="portlet-msg-error">
                    Please choose Excel file
                </span>
            }
            else
            {
                <span class="portlet-msg-error">
                    Excel upload processed successfully.<br>
                    Total number of records uploaded: @ViewBag.p <br>
                    Total number of records skiped: @ViewBag.f <br><br>
                </span>
            }
        }
        <div class="form-group">

            <div class="control-label col-md-2">Excel:</div>
            <div class="col-md-10">
                <input type="file" id="FileUpload" name="FileUpload" class="" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" id="btnSubmit" class="btn btn-primary" />

            </div>
        </div>
    </div>
}  

@using (Html.BeginForm("ExportToExcel", "User", FormMethod.Post))
{

    <br />
        <br />
        <h2>
            Export Data To Excel
        </h2>
        <input type="submit" value="Export to Excel" class="button" />
}

<img src="@Url.Action("MyChart")" alt="SimpleChart">
<img src="@Url.Action("MyChart1")" alt="SimpleChart">
<img src="@Url.Action("MyChart2")" alt="SimpleChart">
<img src="@Url.Action("MyChart3")" alt="SimpleChart">
<img src="@Url.Action("MyChart4")" alt="SimpleChart">
<img src="@Url.Action("MyChart5")" alt="SimpleChart">
<img src="@Url.Action("MyChart6")" alt="SimpleChart">
<img src="@Url.Action("MyChart7")" alt="SimpleChart">
